/**
 *
 * Welcome to the adventure. You may have found this site by chance, or maybe you were led here. 
 * Hidden within this site are clues to a treasure, a treasure of immeasurable worth. 
 * Riches are not guaranteed, but for those who recognize its true value, the reward will be clear.
 * 
 * Our journey begins with a riddle, the first step of this captivating quest. 
 * The road ahead is challenging, but the prize awaits those who dare to seek beyond the usual.
 * 
 * I am a co-founder of a notable exchange, but that's the only hint for now. 
 * The quest for something of great value starts here.
 */
/**
 * The adventure commences. We kick off by animating... essentially, everything.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * That was subtle. But just wait.
 *
 * The stark black on white is dull,
 * so let's spice things up a bit.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Just a moment...
 */

pre,
a {
  color: white;
}

/**
 * Much better. Apologies for the strain on your eyes.
 *
 * Navigating this vast void is daunting.
 *
 * I'll create a cozy space for us to collaborate.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 45vh;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

/**
 * Alright. Time to populate the screen.
 * Prepare to dive into some work.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * This is good, but the text is all white!
 * Let's enhance readability.
 */

.comment {
  color: #857F6B;
  font-style: italic;
}

.selector {
  color: #E69F0F;
}

.selector .key {
  color: #64D5EA;
}

.key {
  color: #64D5EA;
}

.value {
  color: #BE84F2;
}

.value.px {
  color: #F92772;
}

/**
 * Now we're making progress.
 * Let's add some depth.
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 93.1vh;
}

/**
 * So, you're here for the Treasure, right?
 * I doubt you came just for the aesthetics.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}